.inline-block {
  display: inline-block;
}
.cursor-pointer {
  cursor: pointer;
}
.table-cell {
  display: table-cell;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

ul, p, h2 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}